@import url("http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600");
/*
@mixin OpenSansRegular {
  font-family: "OpenSansRegular", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin OpenSansLight {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin OpenSansSemibold {
  font-family: "OpenSansSemibold", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin OpenSansBold {
  font-family: "OpenSansBold", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin IvaIcon {
  font-family: 'IvaIcon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}
*/
/* move special fonts to HTML head for better performance */
/* line 5, ../scss/modules/_theme.scss */
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* fix bs3 horizontal scrollbar bug */
/* line 12, ../scss/modules/_theme.scss */
.row {
  margin: 0;
  padding: 0;
}

/* line 14, ../scss/modules/_theme.scss */
h1 {
  font-size: 45px;
}

/* line 18, ../scss/modules/_theme.scss */
img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

/* line 24, ../scss/modules/_theme.scss */
.icon-bar {
  background-color: #fff;
}

/* line 28, ../scss/modules/_theme.scss */
.scroll-down a, .scroll-top a {
  color: #ffffff;
}

/* line 32, ../scss/modules/_theme.scss */
.scroll-down {
  position: fixed;
  bottom: 20%;
  right: 0%;
  color: #f9f9f9;
}

/* line 39, ../scss/modules/_theme.scss */
.scroll-top {
  background-color: #33ee67;
}

/* line 43, ../scss/modules/_theme.scss */
.header .btn-lg {
  font-size: 28px;
  border-color: #eeeeee;
  padding: 15px;
  background-color: transparent;
  color: #ffffff;
}

/* line 51, ../scss/modules/_theme.scss */
.header .btn-lg:hover {
  background-color: #eeeeee;
  color: #777777;
}

/* line 56, ../scss/modules/_theme.scss */
.navbar a {
  color: #fff;
}

/* line 60, ../scss/modules/_theme.scss */
.navbar-bold.affix {
  background-color: #33ee67;
}

/* line 64, ../scss/modules/_theme.scss */
.navbar-bold {
  background-color: #11cc45;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* line 69, ../scss/modules/_theme.scss */
.navbar-bold li a:hover, .navbar-bold li.active {
  background-color: #22dd56;
}

/* line 73, ../scss/modules/_theme.scss */
.vert {
  vertical-align: middle;
  width: 100%;
  padding-top: 4%;
}

/* line 79, ../scss/modules/_theme.scss */
.header h1 {
  font-size: 110px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
  color: #431a6d;
  color: #fff;
  margin-left: -5px;
  margin-bottom: 5px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* line 89, ../scss/modules/_theme.scss */
.header .lead {
  color: #eeeeee;
  font-size: 25px;
}

/* line 94, ../scss/modules/_theme.scss */
.header {
  height: 80%;
  background: #11cc45 url("http://www.bootply.com/assets/example/pt_squares_lg.png") repeat center center fixed;
}

/* line 99, ../scss/modules/_theme.scss */
.blurb {
  padding: 120px 0;
  background-color: #fefefe;
}

/* line 104, ../scss/modules/_theme.scss */
.blurb .panel {
  background-color: transparent;
}

/* line 108, ../scss/modules/_theme.scss */
.bright {
  background: #7fbbda url("http://www.bootply.com/assets/example/bg_suburb.jpg") no-repeat center center fixed;
  color: #fff;
}

/* line 113, ../scss/modules/_theme.scss */
.featurette {
  background: #545455;
  padding: 50px 0;
  color: #ffffff;
}

/* line 119, ../scss/modules/_theme.scss */
.featurette-item {
  margin-bottom: 15px;
}

/* line 123, ../scss/modules/_theme.scss */
.featurette-item > i {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
}

/* line 135, ../scss/modules/_theme.scss */
.featurette-item > i:hover {
  font-size: 68px;
}

/* line 139, ../scss/modules/_theme.scss */
.callout {
  color: #ffffff;
  padding-top: 7%;
  height: 100%;
  width: 100%;
  background: url("http://www.bootply.com/assets/example/bg_suburb.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 151, ../scss/modules/_theme.scss */
.gallery {
  padding: 50px 0;
}

/* line 155, ../scss/modules/_theme.scss */
.call-to-action {
  background: #eeeeee;
  padding: 50px 0;
}

/* line 160, ../scss/modules/_theme.scss */
.call-to-action .btn {
  margin: 10px;
}

/* line 164, ../scss/modules/_theme.scss */
footer {
  padding: 100px 0;
}

/* -- end custom css for Bootstrap 3.x --*/
/* line 4, ../scss/components/_content.scss */
.featurette-item i, .featurette-item a {
  text-transform: none;
  color: white;
  font-style: normal;
  font-weight: bold;
}

/* line 12, ../scss/components/_content.scss */
.img-angular {
  width: 50%;
  display: inherit;
  margin: auto;
}
